@import "../utils/mixins";

.navbar {
  background-color: white;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  position: relative;

  @include md {
    padding: 0;
  }
}

.logo {
  width: 3rem;

  @include md {
    width: 5rem;
  }
}

.toggler {
  border: 0;
  outline: 0;
}

.nav {
  margin-top: 1rem;
  color: rgb(29, 27, 27);

  @include md {
    margin-top: 0;
  }
}

.link {
  color: inherit;
  transition: all 0.2s;
  margin: 0.5rem 0.8rem;
  text-transform: capitalize;

  &:focus,
  &:active,
  &:hover {
    color: rgb(0, 0, 255);
    text-decoration: none;
  }

  &Sub {
    padding: 0 0.5rem;
    transition: all 0.2s;
    margin: 0.5rem 0.8rem;
    text-transform: capitalize;
    border-radius: 3px;
    color: white;
    &:hover,
    &:active &:focus {
      text-decoration: none;
      background-color: white;
      box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    }
  }
}

.extraNav {
  background-color: rgb(0, 119, 255);
  color: white;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: none;
  @include md {
    display: flex;
  }

  &Toggled {
    display: flex;
  }
}
